@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center text-success">Welcome To Expense Tracker Webapplication</h1>
    <p class="text-white">
        Tracking your spending is often the first step in getting your finances in order. By understanding what you spend money on and how much you spend, you can see exactly where your cash is going and areas where you can cut back.
        <br /><br />

        It’s easy to make this part of your everyday routine thanks to expense tracker apps that help you manage your money on the go. These apps certainly overlap with budgeting apps, but while the latter provide a big-picture view of your finances, expense tracker apps put more of an emphasis on your spending. These apps usually categorize your expenses and help you get a good idea of your purchasing behavior.
    </p>
</div>
